.logo {
    width: 7%;
    height: 7%;
  }

  ul {
    font-weight: bold;
  }

  .card-img-top {
    width: 100%;
    height: 200px;
  }
  a :hover {
color: red;
  }

  
.mg {
  margin-bottom: 600px;
}

#AAA {
  color:black;
  text-align: center;
  
}
.AAB {
  color: aqua;
  text-align: center;
}